.custom-modal-container {
  position: fixed;
  z-index: 1060 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  overflow-y: scroll;
  outline: 0;
  background: #0000002b;
}

.custom-modal-container .modal {
  border-radius: .4375rem;
  background: white;
  width: 800px;
  min-height: 500px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  pointer-events: auto;
  margin: auto;
  margin-top: 200px;
}

.display-block {
  display: block !important;
}

.display-none {
  display: none !important;
}

.stat-loading {
  position: absolute;
  top: -11px;
  right: 6px;
  background: #2ece89;
  padding: 2px 8px;
  color: #ffffff;
  border-radius: 5px;
  font-size: 13px;
  -webkit-box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
          box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.modal-xl {
  max-width: 1140px;
}

